<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>/Apilog-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
			<maxFileSize>100mb</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>20gb</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root>
		<level value="debug" />
		<appender-ref ref="ROLLING" />
		<appender-ref ref="CONSOLE" />
	</root>
</configuration> 